<div
  class="container container-def"
  style="background-color: rgb(221, 221, 221)"
>
  <h3>Search</h3>
  <div><input type="text" placeholder="Search" /></div>
  <div class="row">
    <div class="col-md-3">
      <div class="categories">
        <h3>Categories</h3>
          @for(category of categories;track $index){
            <div><input type="checkbox" />
              {{ category.name }}</div>
          }
      </div>
    </div>
    <div class="col-md-9">
      <button
        type="button"
        class="btn btn-secondary"
        style="margin: 0 20px 20px 0"
        (click)="sortItems()"
      >
        Sort ({{ sortParam ? 'A-Z' : 'Z-A' }})
      </button>
      <app-listing-item></app-listing-item>
    </div>
  </div>
</div>
