<div class="container" style="background-color: rgb(221, 221, 221)">
  <div class="row" style="background-color: rgb(221, 221, 221)">
    <hr />
    <div class="col-sm logo">
      <img src="assets/logo.jpg" alt="Company Logo" class="mb-2 mt-2" />
      <div> {{ '@'}}{{ currentDate |date : 'YYYY' }}</div>
    </div>
    <div class="col-sm">
      <div class="fs-6 fw-bold">Version</div>
      <div>2.2.2</div>
    </div>
    <div class="col-sm">
      <div class="fs-6 fw-bold">About</div>
      <div>Contact us</div>
      <div>Privacy</div>
      <div>Terms of Use</div>
    </div>
  </div>
</div>
